My workflow (with nutrition accessment).json
{
  "name": "My workflow (with nutrition accessment)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dcce7d25-1feb-4959-ac9b-7328cbafb2cf",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/Volumes/T7/患者营养评估数据/输入/**",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "363a132f-8b14-4b9d-92bb-d604154b3e0e",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "93ee2541-6d80-4446-876d-e121f97c88d7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        700,
        20
      ],
      "id": "04ed65b2-bd22-43f4-b4e0-5b01ef94203a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyAuhIlZexfoHp0iScWBKven9WhOBcooxns",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"contents\": [\n{\n\"parts\": [\n{\n\"text\": \"请分析以下医疗文书图片，提取其中的关键数据、评分或结论，并以 JSON 格式输出。请忽略检查方法、参考标准等参考意义不强的字段。具体需要提取的信息包括（请根据文档类型提取相关信息）：\\n\\n- 病历: 主要诊断、主要症状、治疗方案。\\n- 生化检查: 特定指标的名称、数值、单位以及检查结论（如果存在）。\\n- 血常规: 特定指标的名称、数值、单位以及检查结论（如果存在）。\\n- 营养评估: 营养评估的总体结论，以及关键营养指标的具体数据。\\n- 人体测量: 身高、体重、BMI 值。\\n- 护理记录: 记录中体现的主要护理措施和效果，患者的重要反应或观察。\\n- 会诊记录: 会诊的最终结论和给出的主要建议。\\n\\n请将提取到的信息组织成一个 JSON 对象，不同的医疗文书类型可以有不同的 JSON 结构，但要保证清晰易懂。如果某些信息在图片中不存在，则在 JSON 中对应的字段可以为空或不显示。\\n\\n提供的图片数据如下：\"\n},\n{\n\"inline_data\": {\n\"mime_type\": \"image/jpeg\",\n\"data\": \"{{ $json.data }}\"\n}\n}\n]\n}\n],\n\"generationConfig\": {\n\"temperature\": 1,\n\"maxOutputTokens\": 65536\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        20
      ],
      "id": "2e105cf2-a485-4105-adf6-de6f41eb71df",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "candidates[0].content.parts[0].text",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1140,
        20
      ],
      "id": "6a6865bd-1ee6-44c9-9f66-0e35eeb0840b",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d05f4df1-4685-421a-bf01-d68e70ea7a9d",
  "meta": {
    "instanceId": "a0ffc13f7efdc2a741f5b2d604310d326ecceddbd697204b1fc1d898afa3a008"
  },
  "id": "ncBFwNS3zkFh0rZ0",
  "tags": []
}